<div>
  <div>
    <h1>
      List of users
    </h1>
  </div>
</div>

<hr>
  
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Username
        </th>

        <th>
          Private?
        </th>

        <th>
          Follow
        </th>

        <th>
          Details
        </th>
      </tr>

      <% @users.each do |a_user| %>
      <tr>
        <td>
          <%= a_user.username %>
        </td>

        <td>
          <% if a_user.private == true %>
            <%= "Yes" %>
          <% elsif a_user.private == false %>
            <%= "No" %>
          <% end %>
        </td>
          
        <td>
          
        </td>


        <td>
          <a href="/users/<%= a_user.username %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
